<div class="row">
    <div class="col-md-6">
        <img class="img-responsive" src="{{ asset('bundles/clarolinecore/images/logos/logo-lg.svg') }}"/>
    </div>
    <div class="col-md-6">
        {% include 'ClarolineCoreBundle:Authentication:loginForm.html.twig' %}
    </div>
</div>
